asgiref==3.8.1
attrs==25.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
decorator==5.1.1
Django==5.1.4
djangorestframework==3.15.2
django-filter==24.3
django-admin-decorators==0.1
django-admin-list-filter-dropdown==1.0.3
django-admin-tools==0.9.3
django-ckeditor==6.7.2
django-crispy-forms==2.3
django-environ==0.12.0
django-jalali==7.3.0
django-js-asset==3.0.1
django-middleware-global-request==0.3.5
django-render-partial==0.4
django-static-jquery-ui==1.13.3.1
idna==3.10
importlib_metadata==8.6.1
jalali_core==1.0.0
jdatetime==5.2.0
Jinja2==3.1.5
Khayyam==3.0.17
persiantools==5.3.0
MarkupSafe==3.0.2
packaging==24.2
pillow==11.0.0
qrcode==8.2
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
zipp==3.21.0

django-redis==5.4.0
redis==5.2.1
gunicorn==23.0.0
celery==5.4.0
kombu==5.4.2
sentry-sdk==2.19.2
whitenoise==6.8.2
django-storages==1.14.6
boto3==1.35.99
fpdf2==2.8.7
uharfbuzz==0.56.0
brotli==1.2.0
cryptography==50.0.1
